streamlit
langchain-google-genai
langchain-community
langchain
tavily-python
SQLAlchemy
qdrant-client
sentence-transformers
google-generativeai
langchain-huggingface
langchain-qdrant
nest-asyncio
transformers 
torch 
PyMuPDF 
python-docx 
python-pptx 
tqdm
numpy
pypdf
matplotlib 
seaborn 
pandas
plotly
tenacity
langchain-groq
